.hospital {
  border-radius: 10px;
  padding: 20px;
}

.hospital__header {
  color: whitesmoke;
  background-color: #028080;
}

.hospital__header h3 {
  color: whitesmoke;
}
.hospital__header tr {
  display: flex;
  padding: 5px;

  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
}

.hospital__header td {
  border: none;
}

.hospital-items {
  color: #6a5d5d;
  background-color: #c3e2e0;
}

.hospital-items tr {
  display: flex;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 30px;
  justify-content: space-between;
}

.hospital-items td {
  border: none;
}

.hospital-items tr {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.hospital-items tr::after {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hospital-items tr:hover {
  cursor: pointer;

  transform: scale(1.05, 1.1);

  background-color: #7dd1cd;
}
/* } */

hospital-items tr:hover::after {
  opacity: 1;
}

.hospital__contents {
  width: 500px;
  padding: 30px;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hospital__contents__info {
  width: 640px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
