.infoBox {
  /* cursor: pointer; */
  flex: 1;
}

.infoBox:hover {
  cursor: pointer;
  /* transition: box-shadow 0.3s, border-color 0.3s; */
}

.infoBox:not(:last-child) {
  margin-right: 10px;
}

.infoBox__cases {
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
