.nav {
  display: flex;
  justify-content: space-between;
  background-color: #f5f6fa;
  padding: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.nav__dropdown {
  background-color: white;
}
.nav__left {
  flex: 0.85;
}

.nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__title {
  text-decoration: none;
  color: #1967d2;
  font-size: 1.5rem;
}

.nav__icons {
  margin: auto;

  align-items: center;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
}

.nav__home,
.nav__call,
.nav__hospital {
  color: gray;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.nav__home:hover,
.nav__call:hover,
.nav__hospital:hover {
  color: black;
  background-color: #cccccc;
  border-radius: 10px;
}

@media (max-width: 990px) {
  .nav {
    flex-direction: column;
  }
  .nav__header {
    flex-direction: column;
  }
}
